$--space-between-32: 32px;
$--space-between-16: 16px;

$--radius-8: 8px;

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: sans-serif;
    color: #7f808c;
}

#chat {
    display: flex;
    flex-direction: column;
    margin-bottom: $--space-between-32;
    list-style: none;
    padding: 0;
    > li {
        display: flex;
        margin-bottom: $--space-between-32;
        .avatar {
            display: flex;
            align-items: flex-end;
            padding: 0 $--space-between-16;
            img {
                width: 48px;
                border-radius: 50%;
            }
        }
        .message {
            flex: 1;
            background-color: #f5f6fa;
            padding: $--space-between-16;
            border-radius: $--radius-8;
            border-bottom-left-radius: 0px;
            strong {
                color: #242939;
            }
            p{
                font-size: 14px;
            }
            time {
                font-size: 12px;
                letter-spacing: 1px;
                opacity: .65;
            }
        }
        .menu {
            display: flex;
            align-items: center;
            button {
                border: 0;
                background-color: unset;
                outline: none;
                img {
                    width: $--space-between-16;
                    opacity: .5;
                    cursor: pointer;
                }
            }
        }
    }
}