* {
  box-sizing: border-box;
}

a {
  color: #111;
  text-decoration: none;
}
a:hover {
  color: #00f;
}

.button {
  background-color: #00f;
  color: #fff;
  padding: 8px 32px;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 0;
}
.button:hover {
  background-color: rgba(0, 0, 255, 0.8);
}

.logo {
  color: #00f;
  font-weight: bold;
  font-size: 24px;
  text-transform: uppercase;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  padding: 0 16px;
}
header #logo {
  color: #00f;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
}
header nav {
  width: 400px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

main {
  margin: 15vw;
  padding-right: 320px;
  background-image: url("http://lorempixel.com.br/300/400/");
  background-position: right center;
  background-repeat: no-repeat;
  background-size: 300;
  min-height: 400px;
}
main h1 {
  font-weight: bold;
  font-size: 48px;
}
main h1 span {
  color: #00f;
}
main h1 small {
  display: block;
  font-weight: 100px;
  font-size: 24;
}
main p {
  margin-bottom: 64px;
}
main .button {
  padding: 16px 64px;
}

footer {
  display: flex;
  justify-content: center;
  height: 64px;
  font-size: 12px;
  color: #ccc;
}